body {
  margin: 0;
}

.sign-up-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height need to be fixed */
  height: calc(100vh - 200px);
}

.sign-up {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  background-color: var(--secondary-bg-color);
  color: black;
  border-radius: 5px;
  width: 30%;
  font-size: 20px;
  padding: 10px;
}

.sign-up-form {
  display: grid;
}

.sign-up select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
