.cart-per-item-body {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  margin: 20px;
  /* padding: 10px; */
  background-color: rgb(213, 211, 241);
  font-size: 25px;
  border-radius: 5px;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.checkout {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.checkout .total {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #ffff99;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.checkout .buy-button {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #ffff99;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.checkout .buy-button:hover {
  cursor: pointer;
}

.cart-per-item-body .quantity-controler {
  margin-bottom: 10px;
  margin-left: 60px;
 
}
.cart-per-item-body .quantity-controler img:hover{cursor:pointer;}

.cart-per-item-body .delete-button:hover {
  cursor: pointer;
  margin-bottom:15px;

}
