.cart-per-item-body {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  margin: 20px;
  /* padding: 10px; */
  background-color: rgb(213, 211, 241);
  font-size: 25px;
  border-radius: 5px;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.checkout {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.checkout .total {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #ffff99;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.checkout .buy-button {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #ffff99;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.checkout .buy-button:hover {
  cursor: pointer;
}

.cart-per-item-body .quantity-controler {
  width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 60px;
  border: 0px solid rgba(0, 0, 0, 0.3);
}

.cart-per-item-body .delete-button {
  border: 0px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}
