.failMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 260px;
  height: 50px; */
  background-color: rgb(240, 20, 38);
  color: rgb(139, 90, 79);
  font-size: 20px;
  margin-left: 10px;
}

.successMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;
  background-color: rgb(22, 11, 68);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.itemDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  margin: 20px;
  /* padding: 10px; */
  background-color: rgb(213, 211, 241);
  font-size: 25px;
  border-radius: 5px;
  align-items: center;
  
}

.add-button img {
  margin-left: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}

.add-button img:hover {
  cursor:pointer;
  background-color: #ffff99;
 
}
