.create-product {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  width: 30%;
  background-color: var(--secondary-bg-color);
  color: black;
  font-size: 20px;
  padding: 20px;
}

.create-product-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height needs to be fixed */
  height: calc(100vh - 200px);
}

.create-button {
  width: 75%;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  background-color: var(--main-bg-button-color);
  color: black;
}

.create-product-body .create-product .input {
  width: 75%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.create-button:hover {
  background-color: var(--main-bg-button-color-hover);
  color: var(--secondary-text-color);
}

.create-product select {
  width: 75%;
  margin-bottom: 10px;
  padding: 5px;
}
