body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.register-button {
  text-decoration: none;
  color: blue;
}

.register-button:hover {
  color: red;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.login {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  border-radius: 5px;
  width: 30%;
  background-color: rgb(213, 211, 241);
  color: black;
  font-size: 20px;
  padding: 10px;
}

.login-form {
  display: grid;
}

.done-button {
  padding: 5px;
  border-radius: 5px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.done-button:hover {
  background-color: yellow;
}
