.manage-product {
  background-color: rgb(213, 211, 241);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.acttion-button {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.acttion-button:hover {
  background-color: yellow;
}

h1 {
  margin: 15px;
}
