/* body {
  margin: 0px;
} */

.rightNavBar a,
.rightNavBar a,
.rightNavBar a,
.rightNavBar a {
  text-decoration: none;
  color: white;
}

.rightNavBar a:hover {
  text-decoration: none;
  color: yellow;
}

select {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 500;
}

select:hover {
  cursor: pointer;
}

.search-button {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 500;
}

.search-button:hover {
  cursor: pointer;
  background-color: yellow;
}

.navBar {
  display: flex;
  padding: 15px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 6, 56);
}

.leftNavBar {
  display: flex;
  gap: 3px;
  padding-left: 15px;
  /* height: 30px; */
}

.rightNavBar {
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-right: 15px;
  align-items: center;
}

.accountSettings {
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-right: 15px;
  align-items: center;
}

.accountSettings a {
  text-decoration: none;
  color: rgba(15, 6, 56, 1, 0.6);
}

.accountSettings a:hover {
  color: red;
}

.websiteName {
  margin-right: 40px;
  margin-top: 9px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.websiteName:hover {
  cursor: pointer;
  color: yellow;
}

.search-bar {
  width: 25vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 20px;
}

.display-name {
  color: white;
  font-size: 18px;
  font-weight: 500  ;
}

.display-name:hover {
  color: yellow;
}
